.orgdialog {
    min-width: calc(70vw) !important;
}

.orgdialogflextop {
    display: flex;
}

.orgfirsthalf {
    flex: 1;
}

.orgsecondhalf {
    flex: 1;
}

.orginneractions {
    display: flex;
    align-items: center;
}

.orginnerbutton {
    flex: 1;
}

.notephead {
    background-color:rgb(31, 33, 41);
}

.notepheaduser {
    display: inline-block;
    margin-right: 4px;
    font-weight: bold;
}

.notepheadtime {
    font-style: italic;
    font-size: smaller;
}